header {
  padding: 3rem;
  border-bottom: 1px solid #fff;
  nav {
    ul {
      font-size: 0;
      margin: 0 -1rem; 
      li {
        display: inline-block;
        margin: 0 1rem;
        a {
          font-size: 1.8rem;
          padding: .5rem 4rem;
          box-shadow: none;
          outline: none;
          &[data-active=true] {
            box-shadow: 0 0 0 1px $base-font-color;
          }
          &:focus, &:hover {
            background: #353535;
          }
        }
      }
    }
  }
}