<%
data = {
    alias: 'post_1',
    title: "Пост #1"
}
%>

<%= require('../../parties/header.ejs')(data) %>

<section>
    <h1>Запись #1</h1>
    <img src="/static/img/picsum.jpg" alt="заснеженные горы на фоне молочно-голубого неба">
    <p>Заснеженные горы на фоне молочно-голубого неба</p>
</section>

<%= require('../../parties/footer.ejs')() %>
