<%
data = {
    alias: 'post_1',
    title: "Пост #1"
}
%>

<%= require('../../parties/header.ejs')(data) %>

<section>
    <h1>Запись #1</h1>
    <p>Послушайте музычку</p>
    <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1023576412/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/transparent=true/" seamless><a href="http://homestuck.bandcamp.com/album/hiveswap-act-1-ost">Hiveswap Act 1 OST by James Roach and Toby Fox</a></iframe>
</section>

<%= require('../../parties/footer.ejs')() %>
