<%
data = {
    title: "Пост #1"
}
%>

<%= require('../../parties/header.ejs')(data) %>

<section>
    <h1>Запись #1 йо</h1>
    <img src="/static/img/picsum.jpg" alt="заснеженные горы на фоне молочно-голубого неба">
</section>

<%= require('../../parties/footer.ejs')() %>
