<%
data = {
    alias: 'post_1',
    title: "Пост #1"
}
%>

<%= require('../../parties/header.ejs')(data) %>

<section>
    <h1>Запись #1</h1>
    <p>Послушайте музычку</p>
	<iframe style="border: 0; width: 350px; height: 786px;" src="https://bandcamp.com/EmbeddedPlayer/album=656923155/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://thegyptianlover.bandcamp.com/album/instrumentals-and-demos-limited-edition">instrumentals and demos (Limited Edition) by The Egyptian Lover</a></iframe>
</section>

<%= require('../../parties/footer.ejs')() %>
