<%
data = {
    title: "О нас"
}
%>

<%= require('../parties/header.ejs')(data) %>

<section>
    <h1>О нас</h1>
    <p>Генератор статических страниц йо</p>
</section>

<%= require('../parties/footer.ejs')() %>
