<%
data = {
    title: "Главная страница"
}
%>

<%= require('ejs-loader!../parties/header.ejs')(data) %>

<section>
    <h1>Главная страница йо</h1>
    <img src="/static/img/picsum.jpg" alt="">
</section>

<%= require('ejs-loader!../parties/footer.ejs')() %>
