<%
data = {
    alias: 'index',
    title: "Главная страница"
}
%>

<%= require('../parties/header.ejs')(data) %>

<section>
    <h1>Главная страница</h1>
    <img src="/static/img/picsum.jpg" alt="заснеженные горы на фоне молочно-голубого неба">
</section>

<%= require('../parties/footer.ejs')() %>
