<%
data = {
    alias: 'index',
    title: "Главная страница"
}
%>

<%= require('../parties/header.ejs')(data) %>

<section>
    <h1>Главная страница</h1>
    <p>Добро пожаловать. Это генератор статических страниц</p>
    <figure>
        <img src="/static/img/picsum.jpg" alt="заснеженные горы на фоне молочно-голубого неба">
        <figcaption>
            <p>Полюбуйтесь на заснеженные горы,<br>вдохновитесь и зарядитесь сежестью</p>
        </figcaption>
    </figure>

    <p></p>
</section>

<%= require('../parties/footer.ejs')() %>
