<!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%=title%></title>
    </head>
    <body>
    <main class="wrapper">
        <header>
            <nav>
                <a href="/">Главная</a> |
                <a href="/about">О нас</a> |
                <a href="/category/post">Статья</a>
            </nav>
        </header>