<!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
        <title><%= title %></title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/" data-active="<%= alias === 'index' %>">Главная</a></li>
                    <li><a href="/about" data-active="<%= alias === 'about' %>">О нас</a></li>
                    <li><a href="/category/post" data-active="<%= alias === 'post_1' %>">Статья</a></li>
                </ul>
            </nav>
        </header>