$color-font: #fff;
$color-background: #111;

body {
  background: $color-background;
  color: $color-font;
  font-family: Consolas;
}
a {
  color: $color-font;
}
section {
  box-shadow: inset 0 0 0 1px #fff;
}
